body{
    background-color: #E4D8CC;
    color: #7D5452;
}

p{
    font-family: Inter;
}

.Head-title{
    font-family: Inter;
    text-align:center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
   }

.order-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px;
}

textarea{
    border: none;
    width: auto;
}

.order-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.order-note {
    display: flex;
    flex-direction: column;
}

.order-item {
    border: 1px solid #7D5452;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}



/* added by sam */

#order-total {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
#process {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.button-item {
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #7D5452;
    margin-top: 10px;
    width: 30% ;

    transition: background-color 0.3s, color 0.3s;
    display: inline-block; /* Keep the button inline with text */
}

.button-item:hover {
    background-color: #7D5452;
    color: #fff;
    text-decoration: none;
}

.order-item-1 {
    border: 1px solid #7D5452;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

/* last gawa ni sam */


.column-1{
    font-family: Inter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column-2{
    font-family: Inter;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 30px;
}

.column-3{
    display: flex;
    justify-content: flex-end;
}
.column-3 p{
    font-family: Inter;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    left: 1px;
}

.column-4{
    font-family: Inter;
    display: flex;
    justify-content: space-evenly;
}

.customer-name, .customer-num{
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
}
.customer-num{
    opacity: .6;
}

.img-fluid{
    height: 250px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product-name {
    font-family: Inter;
    color: #7D5452;
    margin-bottom: 10px;
    font-size: 16px;
}

.order-info {
    margin-bottom: 5px;
}

